@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

  #score {
   text-align: center;
   font-size: 100px;
   font-family: 'Roboto', sans-serif;
  }

  #gameCanvas {
   display: block;
   margin: 0 auto;
   border: 2px solid black;
  }
 